<div class="col-lg-8">
      <h2><%- title %></h2>
      <hr>
      <% page.posts.each(function(post){ %>
        <!-- 列表 -->
        <div class="bs-component" style="box-shadow: 0px 0px 0px 0px #ccc;">
                  <%if(post.photos[0]){%>
                      <a href="<%= url_for(post.path) %>" style="float:right">
                          <img class="img-thumbnail" width="100" src="<%- post.photos[0] %>"/>
                      </a>
                  <% } %>
                <h3><a href="<%= url_for(post.path) %>"><%= post.title%></a></h3>
                <small style="color:#aaa">
                  <%if(post.desc){%>
                      <%= post.desc %>
                  <%  } else{ %>
                      <%= post.title%>
                  <% } %>
                </small>
                <br>  
                <span class="fa fa-calendar"></span> &nbsp;<%= date(post.date, 'YYYY/M/D') %>
                  <br>
                  <%  post.tags.each(function(tag){
                          var i = Math.floor(Math.random()*10);
                  %>
                  <a href="/tags/<%= tag.name %>" class="label label-<%- theme.colour[i] %>"><%= tag.name %></a>
                  <%
                      })
                  %>
                <hr>
        </div>
      <%})%>
        <!-- 分页 -->
        <div class="row">
            <div class="bs-component">
            <div class="text-center">
                <ul class="pagination">
                    <%

                    var link='';
                    if(page.total<10 && page.total>1){
                        for(var i=1; i<=page.total; i++){
                            if(i== page.current){  %>
                                <li class="active"><a href="javascript:;"><%= i %></a></li>
                            <%}else{

                                if(i==1){
                                     link = link_root;
                                }else{
                                     link = link_root+config.pagination_dir+'/'+i
                                }
                                %>
                                <li><a href="<%= url_for(link) %>"><%= i %></a></li>
                            <% } %>
                        <%}
                    }%>
                </ul>
            </div>
                <ul class="pager">
                    <% if(page.prev_link || page.current==2){%>
                        <li class="previous"><a href="<%- url_for(page.prev_link) %>">← 最新的</a></li>
                    <%} else{%>
                        <li class="previous disabled"><a href="javascript:;">← 最新的</a></li>
                    <%} %>

                    <% if(page.next_link){%>
                        <li class="next"><a href="<%- url_for(page.next_link) %>">更早的 →</a></li>
                    <%} else{%>
                        <li class="next disabled"><a href="javascript:;">更早的 →</a></li>
                    <%} %>
                    
                </ul>
            </div>
        </div>
</div>